* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

.card{
    background-color: #Fddb00;
    width: 450px;
    height: 600px;
    margin: 60px auto;
    border-radius: 15px;
    padding: 20px;
}
.card__box{
    background-image: url(https://static.vecteezy.com/system/resources/previews/001/946/569/original/abstract-geometric-hexagons-yellow-background-with-diagonal-striped-lines-free-vector.jpg);
    background-size: cover;
    height: 100%;
    padding: 10px 15px;
    transition: 0.5s;
}
.card:hover .card__box{
    background-image: url(https://funart.pro/uploads/posts/2021-04/1618473523_39-funart_pro-p-oboi-fon-zheltii-fon-abstraktsiya-43.jpg);
    background-size: cover;
}
.box__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box__heder-right{
    display: flex;
}
.box__header-img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color:tomato;
}

.box__image-photo{
    background-color:#ffdd0052 ;
    height: 200px;
}

.box__image-info{
    background-color:#70610054;
}
.power_1 { 
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    width: 380px;
    border-bottom: 2px solid #000;
}
.power_1-circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #f50909;
    border: 1px solid #040300;
}

.power_1-titel {
    font-size: 20px;
    display: flex;
}
.power_2 {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    border-bottom: 2px solid #000;
}

.power_2-circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #d0cec7;
    border: 1px solid #979593;
    justify-content: flex-start;
}
.power_2-titel {
    font-size: 20px;

}
span{
    color: #8f0707;
}
.power-3 {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
.power_3-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #f80d0d;
    border: 1px solid #f48080;

}
.power_3-circle-special{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #b5ec1e;
    border: 1px solid #a6f724;
}
.power_4{
    width: 300px;
    border: 10px inset #f1f748;
    margin: 8px auto
}

.power_3-number{
    font-size: 17px;
    padding: 0 0 0 20px;
    font-family: Oswald;
}